.DS_Store
node_modules
/build
/.svelte-kit
/package
/static/docs
/$houdini
.env
.env.*
!.env.example
/src/lib/core/langMap/langMapImpl.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
